In [1]:
import pandas as pd

In [2]:
idades = [23, 34, 56, 38]
idades

[23, 34, 56, 38]

In [3]:
idades_pd = pd.Series(idades)

In [4]:
idades_pd

0    23
1    34
2    56
3    38
dtype: int64

In [5]:
idades_pd.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
idades_pd.index = ["Roger", "Luana", "Jack", "Lala"]

In [7]:
idades_pd

Roger    23
Luana    34
Jack     56
Lala     38
dtype: int64

In [8]:
idades_pd["Jack"]

56

In [12]:
idades_pd * 2

Roger     46
Luana     68
Jack     112
Lala      76
dtype: int64

In [13]:
idades_pd **2

Roger     529
Luana    1156
Jack     3136
Lala     1444
dtype: int64

In [14]:
idades_pd / 2

Roger    11.5
Luana    17.0
Jack     28.0
Lala     19.0
dtype: float64

In [15]:
idades_pd = idades_pd / 2
idades_pd

Roger    11.5
Luana    17.0
Jack     28.0
Lala     19.0
dtype: float64

In [16]:
idades_pd[["Roger", "Lala"]]

Roger    11.5
Lala     19.0
dtype: float64

In [17]:
idades_pd[0:3]

Roger    11.5
Luana    17.0
Jack     28.0
dtype: float64

In [18]:
idades_pd.apply(int)

Roger    11
Luana    17
Jack     28
Lala     19
dtype: int64

In [19]:
idades_pd.apply(str)

Roger    11.5
Luana    17.0
Jack     28.0
Lala     19.0
dtype: object

In [20]:
idades_pd.apply(lambda x : str(x).replace(".", ","))

Roger    11,5
Luana    17,0
Jack     28,0
Lala     19,0
dtype: object