In [1]:
import pandas as pd

In [2]:
dados = {
    "nome": ["Roger", "Jack", "Luana", "Lavínia"],
    "idade": [25, 56, 37, 2],
    "cidade": ["Marabá", "Palmas", "Palmas", "Marabá"]
}

In [3]:
dados

{'nome': ['Roger', 'Jack', 'Luana', 'Lavínia'],
 'idade': [25, 56, 37, 2],
 'cidade': ['Marabá', 'Palmas', 'Palmas', 'Marabá']}

In [4]:
df = pd.DataFrame(dados)

In [5]:
df

      nome  idade  cidade
0    Roger     25  Marabá
1     Jack     56  Palmas
2    Luana     37  Palmas
3  Lavínia      2  Marabá

In [6]:
df["nome"]

0      Roger
1       Jack
2      Luana
3    Lavínia
Name: nome, dtype: object

In [7]:
type(df["nome"])

pandas.core.series.Series

In [8]:
import numpy as np

In [12]:
array = np.array([[1, 2, 3], [4,5,6], [7,8,9]])

In [13]:
array

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
df = pd.DataFrame(array, columns=["A", "B", "C"])

In [15]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9